<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.katsuna.clock">

    <compatible-screens>

        <!-- all normal size screens -->
        <screen
            android:screenDensity="mdpi"
            android:screenSize="normal" /> <!-- 160 -->
        <screen
            android:screenDensity="hdpi"
            android:screenSize="normal" /> <!-- 240 -->
        <screen
            android:screenDensity="280"
            android:screenSize="normal" /> <!-- Workaround -->
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="normal" /> <!-- 320 -->
        <screen
            android:screenDensity="360"
            android:screenSize="normal" /> <!-- Workaround -->
        <screen
            android:screenDensity="420"
            android:screenSize="normal" /> <!-- Workaround Google Pixel, Nexus 5x -->
        <screen
            android:screenDensity="xxhdpi"
            android:screenSize="normal" /> <!-- 480 -->
        <screen
            android:screenDensity="560"
            android:screenSize="normal" /> <!-- Workaround Google Pixel XL, Nexus 6, Nexus 6P -->
        <screen
            android:screenDensity="xxxhdpi"
            android:screenSize="normal" /> <!-- 640 -->
    </compatible-screens>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="com.katsuna.services.datastore.permission.preferences" />

    <application
        android:name="ClockApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/CommonAppTheme">
        <activity
            android:name=".alarms.AlarmsActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".alarm.ManageAlarmActivity"
            android:parentActivityName=".alarms.AlarmsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".AlarmActivationActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:directBootAware="true"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:showOnLockScreen="true"
            android:taskAffinity=""
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:targetApi="n" />

        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/common_settings"
            android:parentActivityName=".alarms.AlarmsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".info.InfoActivity"
            android:label="@string/common_app_info"
            android:parentActivityName=".alarms.AlarmsActivity"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".receivers.AlarmInitReceiver"
            android:directBootAware="true"
            tools:targetApi="n">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.AlarmReceiver"
            android:enabled="true" />

    </application>

</manifest>